{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
        },
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3
        }
      }
    ]
  ],
  "exclude": "node_modules/**"
}
