include LICENSE
include README.md
include fontawesome_5/icons.json
include fontawesome_5/icons_semantic_ui.json
recursive-include fontawesome_5 *.py
recursive-include fontawesome_5/static *
recursive-include fontawesome_5/templates *
recursive-include fontawesome_5/templatetags *
